parameters:
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- # pre Nette 3.0 compatibility
			message: "~^Call to function method_exists\\(\\) with \\$this\\(Trejjam\\\\Ares\\\\DI\\\\AresExtension\\) and 'loadDefinitionsFrom…' will always evaluate to true.$~"
			path: %currentWorkingDirectory%/src/DI/AresExtension.php
		- # pre Nette 3.0 compatibility
			message: '~^Call to deprecated method loadDefinition\(\) of class Nette\\DI\\Compiler\.$~'
			path: %currentWorkingDirectory%/src/DI/AresExtension.php
		- # pre Nette 3.0 compatibility
			message: '~^Static method Nette\\DI\\Compiler::loadDefinition\(\) invoked with 2 parameters, 0 required\.$~'
			path: %currentWorkingDirectory%/src/DI/AresExtension.php

includes:
	- phpstan.neon
