parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
		-
			message: '~^Method Trejjam\\Ares\\IMapper::map\(\) has no return type specified\.$~'
			path: %currentWorkingDirectory%/src/IMapper.php

		-
			message: "~^Call to function method_exists\\(\\) with 'Composer.*' and 'getSystemCaRootBund…' will always evaluate to true\\.~"
			path: %currentWorkingDirectory%/src/DI/AresExtension.php

	earlyTerminatingMethodCalls:
		Nette\Application\UI\Presenter:
			- redirect
			- redirectUrl
			- sendJson
			- sendResponse
			- sendPayload
	#disallowFloatsEverywhere: true

includes:
	- ../../vendor/roave/no-floaters/rules.neon
